

<partial name="_Notification"></partial>
<div class="container ">
    <div class="row pt-4 pb-2">
        <div class="col-6">
            <h2>Order List</h2>
        </div>
       
    </div>
</div>
<table id="tblData" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="text-center"> Order Id</th>
            <th class="text-center"> Name</th>
            <th class="text-center"> Email</th>
            <th class="text-center"> Phone Number</th>
            <th class="text-center"> Order Status</th>
            <th class="text-center"> Order Total</th>
            <th class="text-center">  Order Details</th>
        </tr>
    </thead>

</table>

@section scripts {
    <script src="~/js/order/order.js"></script>
}