@model int

<div class="row container pt-4" >
    <div class="col-12 text-center">
        <h1 class="text-primary text-center "> Order placed Successfully.</h1>
        Your Order Number is: @Model<br /><br />
        <img src="~/Order placed.png" width="65%" height="300px;"/>
    </div>

    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your order has been placed successfully.
        
    </div>

</div>